body {
    background-color: #0c091d;
    display: flex;
}

svg {
    margin: auto;
}

.small-lines {
    stroke: rgba(169, 114, 255, 0.5);
}

.big-lines {
    stroke: #a972ff;
}

.second-hand {
    transform-origin: 400px 400px;

}

.minute-hand {
    transform-origin: 400px 400px;

}

.hour-hand {
    transform-origin: 400px 400px;

}

.text {
    font-size: 1.5rem;
}